body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }

th {
    text-align: center;
}

td {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.outer
{
    width:100%;
    text-align: center;
}

.inner
{
    display: inline-block;
}
